body{
    position: relative;
    height: 100%;

}
.signup_container{
    margin: auto; 
    
    max-width: 600px
}
form{
   
   margin-top: 20px;
    padding:10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

input{
    max-width: 80%;
    border-radius: 8px;
    height: 45px;
    outline: none;
    border: none;
    /* background-color: #F6F6F6; */
    padding: 5px 0;
}

form button {
    width: 80%;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #1877f2;
    border-radius: 8px;
    height: 45px;
}

